@CHARSET "ISO-8859-1";
table.tableLogin{
	margin-top: 20%;
}

input.separacion {
	margin-top: 5px;
}

input.sendButton{
	height:25px; 
	margin-top:10px; 
	border-radius: 5px";
}

p.userError{
	background-color:#ff9999; 
	display:inline;
	text-align: center;
}

div.warning{
	margin-top: 10px;
}